@model Hotel_Management.Models.Chucvu

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">Xóa chức vụ @Html.DisplayFor(model => model.Tenchucvu)</h5>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Tên chức vụ</dt>
                <dd class="col-sm-9">@Model?.Tenchucvu</dd>

                <dt class="col-sm-3">Lương cơ bản</dt>
                <dd class="col-sm-9">@Model?.Luongcoban</dd>

            </dl>

            <form asp-action="Delete" method="post">
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="Tenchucvu" />
                <button type="submit" class="btn btn-danger">Xóa</button>
                <a asp-action="Index" class="btn btn-secondary">Hủy</a>
            </form>
        </div>
    </div>
</div>
