@model Hotel_Management.Models.Nhanvien

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">Xóa nhân viên @Html.DisplayFor(model => model.Hoten)</h5>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Mã nhân viên</dt>
                <dd class="col-sm-9">@Model?.Manv</dd>

                <dt class="col-sm-3">Tên nhân viên</dt>
                <dd class="col-sm-9">@Model?.Hoten</dd>

                <dt class="col-sm-3">Giới tính</dt>
                <dd class="col-sm-9">@Model?.Gioitinh</dd>

                <dt class="col-sm-3">Ngày sinh</dt>
                <dd class="col-sm-9">@Model?.Ngaysinh</dd>

                <dt class="col-sm-3">Số điện thoại</dt>
                <dd class="col-sm-9">@Model?.Sodienthoai</dd>

                <dt class="col-sm-3">CCCD</dt>
                <dd class="col-sm-9">@Model?.Cccd</dd>

                <dt class="col-sm-3">Ngày vào làm</dt>
                <dd class="col-sm-9">@Model?.Ngayvaolam</dd>

                <dt class="col-sm-3">Trạng thái</dt>
                <dd class="col-sm-9">@((Model?.Trangthai == 1) ? "Đang làm" : "Nghỉ làm")</dd>

                <dt class="col-sm-3">Bộ phận</dt>
                <dd class="col-sm-9">@Model?.MabophanNavigation.Tenbophan</dd>

                <dt class="col-sm-3">Chức vụ</dt>
                <dd class="col-sm-9">@Model?.TenchucvuNavigation.Tenchucvu</dd>

                <dt class="col-sm-3">Ca làm việc</dt>
                <dd class="col-sm-9">
                    @(Model.Nhanvienlamcas != null && Model.Nhanvienlamcas.Any()
                                        ? Model.Nhanvienlamcas.First().MacalamviecNavigation.Macalamviec
                                        : "Không có ca làm việc")
                </dd>
            </dl>

            <form asp-action="Delete" method="post">
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="Manv" />
                <button type="submit" class="btn btn-danger">Xóa</button>
                <a asp-action="Index" class="btn btn-secondary">Hủy</a>
            </form>
        </div>
    </div>
</div>