@model Hotel_Management.Models.Mon

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">Thêm thông tin món ăn</h5>
        </div>
        <div class="card-body">
            <form asp-action="Create" method="post" enctype="multipart/form-data">
                @Html.AntiForgeryToken()

                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                <div class="mb-3">
                    <label class="form-label">Mã món</label>
                    <input asp-for="Mamon" class="form-control" type="number" />
                    <span asp-validation-for="Mamon" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Tên món</label>
                    <input asp-for="Tenmon" class="form-control" />
                    <span asp-validation-for="Tenmon" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="control-label">Giá</label>
                    <input asp-for="Gia" class="form-control" />
                    <span asp-validation-for="Gia" class="text-danger"></span>
                </div>
                <div class="mb-6">
                    <label for="formFile" class="form-label">Ảnh món</label>
                    <input class="form-control" type="file" id="formFile" name="AnhFile" />
                </div>
                <button type="submit" class="btn btn-primary">Lưu</button>
                <a asp-action="Index" class="btn btn-secondary">Huỷ</a>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


