@model Hotel_Management.Models.Bophan

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

<<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">Xóa bộ phận @Html.DisplayFor(model => model.Tenbophan)</h5>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Mã bộ phận</dt>
                <dd class="col-sm-9">@Model?.Mabophan</dd>

                <dt class="col-sm-3">Tên bộ phận</dt>
                <dd class="col-sm-9">@Model?.Tenbophan</dd>

                <dt class="col-sm-3">Ngày thành lập</dt>
                <dd class="col-sm-9">@Model?.Ngaythanhlap</dd>

            </dl>

            <form asp-action="Delete" method="post">
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="Mabophan" />
                <button type="submit" class="btn btn-danger">Xóa</button>
                <a asp-action="Index" class="btn btn-secondary">Hủy</a>
            </form>
        </div>
    </div>
</div>