@model Hotel_Management.Models.Calamviec

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">Xóa @Html.DisplayFor(model => model.Macalamviec)</h5>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Tên ca làm việc</dt>
                <dd class="col-sm-9">@Model?.Macalamviec</dd>

                <dt class="col-sm-3">Thời gian bắt đầu</dt>
                <dd class="col-sm-9">@Model?.Thoigianbatdau</dd>

                <dt class="col-sm-3">Thời gian kết thúc</dt>
                <dd class="col-sm-9">@Model?.Thoigianketthuc</dd>

            </dl>

            <form asp-action="Delete" method="post">
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="Macalamviec" />
                <button type="submit" class="btn btn-danger">Xóa</button>
                <a asp-action="Index" class="btn btn-secondary">Hủy</a>
            </form>
        </div>
    </div>
</div>
