@model Hotel_Management.Models.Loaithietbi

@{
    ViewData["Title"] = "Edit";
}

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">Sửa thông tin loại thiết bị</h5>
        </div>
        <div class="card-body">
            <form asp-action="Edit" method="post" form enctype="multipart/form-data">
                @Html.AntiForgeryToken()

                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                <input type="hidden" asp-for="Maloaithietbi" />

                <div class="mb-3">
                    <label class="form-label">Tên loại thiết bị</label>
                    <input asp-for="Tenloaithietbi" class="form-control" />
                    <span asp-validation-for="Tenloaithietbi" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Lưu</button>
                <a asp-action="Index" class="btn btn-secondary">Hủy</a>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}