@model Hotel_Management.Models.Khachhang

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Khachhang</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Makhachhang" />
            <div class="form-group">
                <label asp-for="Hoten" class="control-label"></label>
                <input asp-for="Hoten" class="form-control" />
                <span asp-validation-for="Hoten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quoctich" class="control-label"></label>
                <input asp-for="Quoctich" class="form-control" />
                <span asp-validation-for="Quoctich" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cccd" class="control-label"></label>
                <input asp-for="Cccd" class="form-control" />
                <span asp-validation-for="Cccd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sdt" class="control-label"></label>
                <input asp-for="Sdt" class="form-control" />
                <span asp-validation-for="Sdt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hochieu" class="control-label"></label>
                <input asp-for="Hochieu" class="form-control" />
                <span asp-validation-for="Hochieu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
